<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBBKUpUMBTPZ1TSi4jlhctU3fmr4sSlyg</string>
	<key>GCM_SENDER_ID</key>
	<string>1042758758372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azureQuizStudyApp</string>
	<key>PROJECT_ID</key>
	<string>azurequizstudyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>azurequizstudyapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042758758372:ios:e0f6959b5e0771e33b61f1</string>
</dict>
</plist>